<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <!-- Load in bootstrap -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
                
                
                <!-- loads jquery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- loads bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- loads in bootstrp js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
                <!--  linking to GoogleFont -->
                <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
                <title>
                    Eat The Burger!
                </title>
            </link>
        </meta>
    </head>
    <body>
        <div class="jumbotron" id="burgerName">
            <h1 class="tracking-in-expand text-center">
                Who's Hungry!
            </h1>
            <img id="burgerPic" src="assets/img/burger.jpg">
            </img>
        </div>
        <div class="container-fluid row" id="content">
            {{{ body }}}
        </div>
    </body>
</html>

